@import 'system'

.index
	display block
	width 350px
	margin: auto
	background #eeeeee
	text-align center
	padding 10px

	a
		padding 5px 30px
		background default_color
		color primary_color
		text-decoration none
	a:hover
		background secondary_color	
		color default_color